# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Mine
Tmp/
/packages/
